
<% redirect_to_login %>
<div class="row mt-5">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title"><%= @user.username %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= @user.id %></h6>
        <p class="card-text">
          Welcome to the best investment page in the world.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
