<% redirect_to_login %>
<div class="row text-center my-4">
    <div class="col-12">
      <h1>All my external investments</h1>
    </div>
  </div>
  <div class="row text-center mb-3">
    <div class="col-12">
      <a class="btn btn-primary" href="<%= new_inversion_url %>" role="button">Add new <i class="fas fa-plus"></i> </a>
    </div>
  </div>
  <div class="list-group">
    <% @inversions.each do |inv| %>
    <div class="row">
        <div class="col-2">
            <i class="fas fa-question fa-3x"></i>
        </div>
        <div class="col-10">
          <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= inv.name %></h5>
              <small>$<%= inv.amount %></small>
            </div>
            <p class="mb-1"><%= convert_datetime(inv.created_at) %></p>
        </div>
    </div>
    <hr>
    <% end %>
  </div>
  